<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facepounds</title>
    <link rel="stylesheet" href="/CSS/base.css">
    <link rel="shortcut icon" href="#" />
    <script src="/JS/base.js"></script>
    <script src="/JS/auth.js"></script>
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div style="display:none;" class="login-class"></div>
    <div class="login-box" style="display:none;">
        <img src="/images/icons/close.png" class="close-png" onclick="closeInput();">
        <div style="background-color: #489; height: 10px; width: 100%; border-radius: 6px 6px 0 0;"></div>
        <div style="display: flex; justify-content: center;font-size: 24px; font-weight: bold; margin: 15px;">登入會員帳號
        </div>
        <input type="text" placeholder="輸入電子信箱" class="text-input login-email">
        <input type="password" placeholder="輸入密碼" class="text-input login-password">
        <div class="login-text" onclick="login();">登入帳戶</div>
        <div class="message"></div>
        <div style="font-size: 16px; margin-bottom: 15px;font-weight: bold; cursor: pointer;" onclick="goRegister();">
            還沒有帳戶? 點此註冊</div>
    </div>

    <div class="register-box" style="display:none;">
        <img src="/images/icons/close.png" class="close-png" onclick="closeRegister();">
        <div style="background-color: #489; height: 10px; width: 100%; border-radius: 6px 6px 0 0;"></div>
        <div style="display: flex; justify-content: center;font-size: 24px; font-weight: bold;   margin: 15px;">註冊會員帳號
        </div>
        <input type="text" placeholder="輸入姓名" class="text-input name-text">
        <input type="text" placeholder="輸入電子信箱" class="text-input email-text">
        <input type="password" placeholder="輸入密碼" class="text-input password-text">
        <div class="login-text" onclick="register();">註冊新帳戶</div>
        <div class="error-message"></div>
        <div style="font-size: 16px; margin-bottom: 15px;font-weight: bold; cursor: pointer;" onclick="goLogin();">
            已經有帳戶了? 點此登入</div>
    </div>



    <div class="header-block">
        <div class="header">
            <div class="web-title">face磅取</div>
            <div class="nav">
                <div class="login" id="login-button" style="display: none;" onclick="loginBlock();">登入</div>
                <div class="login " id="logout-button" style="display: none;" onclick="logoutBlock();">登出</div>
                <div class="login">會員中心</div>
            </div>
        </div>
    </div>
    <div class="search-flex">
        <div class="search-area">
            <div class="search-title">FacePounds | 甜點，隨時拍</div>
            <div class="search-floor-1">
                <select class="area">
                    <option value="none">地區</option>
                    <option value="基隆市">基隆市</option>
                    <option value="臺北市">臺北市</option>
                    <option value="新北市">新北市</option>
                    <option value="桃園市">桃園市</option>
                    <option value="新竹市">新竹市</option>
                    <option value="新竹縣">新竹縣</option>
                    <option value="苗栗縣">苗栗縣</option>
                    <option value="臺中市">臺中市</option>
                    <option value="彰化縣">彰化縣</option>
                    <option value="南投縣">南投縣</option>
                    <option value="雲林縣">雲林縣</option>
                    <option value="嘉義市">嘉義市</option>
                    <option value="嘉義縣">嘉義縣</option>
                    <option value="臺南市">臺南市</option>
                    <option value="高雄市">高雄市</option>
                    <option value="屏東縣">屏東縣</option>
                    <option value="臺東縣">臺東縣</option>
                    <option value="花蓮縣">花蓮縣</option>
                    <option value="澎湖縣">澎湖縣</option>
                    <option value="金門縣">金門縣</option>
                    <option value="連江縣">連江縣</option>
                </select>
                <input type="text" class="tag" placeholder="標  籤">
                <input type="text" class="much" placeholder="份  數">
            </div>
            <div class="search-floor-2">
                <div class="product">
                    <img src="/images/icons/search.png" class="search-icon">
                    <input type="text" placeholder="產  品  名  稱">
                </div>
                <span class="search-btn">開 始 搜 尋</span>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
</body>

</html>