<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacePounds | 甜點，隨時拍</title>
    <link rel="stylesheet" href="/CSS/base.css">
    <link rel="shortcut icon" href="/images/icons/cookie.png" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    {% block head %}
    <script src="/JS/auth.js"></script>
    <script src="/JS/index.js"></script>
    {% endblock head %}
</head>

<body>
    <!-- <div class="sidebar"></div> -->
    <div style="display:none;" class="login-class"></div>
    <div class="login-box" style="display:none;">
        <img src="/images/icons/close.png" class="close-png" onclick="closeInput();">
        <div style="background-color: #395574; height: 10px; width: 100%; border-radius: 6px 6px 0 0;"></div>
        <div style="display: flex; justify-content: center;font-size: 24px; font-weight: bold; margin: 15px;">登入會員帳號
        </div>
        <input type="text" placeholder="輸入電子信箱" class="text-input login-email">
        <input type="password" placeholder="輸入密碼" class="text-input login-password">
        <div class="login-text" onclick="login();">登入帳戶</div>
        <div class="message"></div>
        <div style="font-size: 16px; margin-bottom: 15px;font-weight: bold; cursor: pointer;" onclick="goRegister();">
            還沒有帳戶? 點此註冊</div>
    </div>

    <div class="register-box" style="display:none;">
        <img src="/images/icons/close.png" class="close-png" onclick="closeRegister();">
        <div style="background-color: #489; height: 10px; width: 100%; border-radius: 6px 6px 0 0;"></div>
        <div style="display: flex; justify-content: center;font-size: 24px; font-weight: bold;   margin: 15px;">註冊會員帳號
        </div>
        <input type="text" placeholder="輸入使用者名稱(限英及底線)" class="text-input name-text">
        <input type="text" placeholder="輸入電子信箱" class="text-input email-text">
        <input type="password" placeholder="輸入密碼(限英及底線)" class="text-input password-text">
        <div class="login-text" onclick="register();">註冊新帳戶</div>
        <div class="error-message"></div>
        <div style="font-size: 16px; margin-bottom: 15px;font-weight: bold; cursor: pointer;" onclick="goLogin();">
            已經有帳戶了? 點此登入</div>
    </div>

    <div class="header-block">
        <div class="header">
            <a href="/" class="web-title">FacePounds</a>
            <div class="nav">

                <div class="login" id="login-button" style="display: none;" onclick="loginBlock();">登入</div>
                <div class="login " id="logout-button" style="display: none;" onclick="logoutBlock();">登出</div>
                <!-- <a class="login" href="/member_page">會員中心</a> -->
            </div>
        </div>
    </div>

    
    <script src="/JS/base.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    {% block content %}

    {% endblock content %}
    <footer>
        <div>COPYRIGHT<img src="/images/icons/film.png">FacePounds | 甜點面交商議平台</div>
        <div>聯絡信箱： steve69988@gmail.com</div>
    </footer>
</body>

</html>

<!-- <a class="login" href="/ready_check" id="go-check-button" style="display: none;">待處理的交易</a>
<a class="login" href="/upload" id="go-upload-button" style="display: none;">刊登商品</a> -->