{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/CSS/index.css">
{% endblock head %}
{% block content %}
<div class="main-area">
    <div class="area-box">
        <div class="title-tag">現在可拍的甜點</div>
        <div class="product-flex">
            <div class="product-box">
                <img src="/images/image/test.jpg">
                <div class="product-title">香蕉栗子磅蛋糕</div>
                <div class="product-text">
                    <div>
                        <div>價格:<span class="cost">120</span></div>
                        <div>庫存:<span class="much">30</span></div>
                    </div>
                    <div>
                        <div>商家:<span class="store">磅取sir</span></div>
                        <div>地區:<span class="where">宜蘭</span></div>
                    </div>
                </div>
                <div class="tag-area">
                    <span class="tag">巧克力</span>
                    <span class="tag">栗子</span>
                    <span class="tag">奶油</span>
                </div>
            </div>

            <div class="product-box">
                <img src="/images/image/test.jpg">
                <div class="product-title">香蕉栗子磅蛋糕</div>
                <div class="product-text">
                    <div>
                        <div>價格:<span class="cost">120</span></div>
                        <div>庫存:<span class="much">30</span></div>
                    </div>
                    <div>
                        <div>商家:<span class="store">磅取sir</span></div>
                        <div>地區:<span class="where">宜蘭</span></div>
                    </div>
                </div>
                <div class="tag-area">
                    <span class="tag">巧克力</span>
                    <span class="tag">栗子</span>
                    <span class="tag">奶油</span>
                </div>
            </div>

            <div class="product-box">
                <img src="/images/image/test.jpg">
                <div class="product-title">香蕉栗子磅蛋糕</div>
                <div class="product-text">
                    <div>
                        <div>價格:<span class="cost">120</span></div>
                        <div>庫存:<span class="much">30</span></div>
                    </div>
                    <div>
                        <div>商家:<span class="store">磅取sir</span></div>
                        <div>地區:<span class="where">宜蘭</span></div>
                    </div>
                </div>
                <div class="tag-area">
                    <span class="tag">巧克力</span>
                    <span class="tag">栗子</span>
                    <span class="tag">奶油</span>
                </div>
            </div>

            <div class="product-box">
                <img src="/images/image/test.jpg">
                <div class="product-title">香蕉栗子磅蛋糕</div>
                <div class="product-text">
                    <div>
                        <div>價格:<span class="cost">120</span></div>
                        <div>庫存:<span class="much">30</span></div>
                    </div>
                    <div>
                        <div>商家:<span class="store">磅取sir</span></div>
                        <div>地區:<span class="where">宜蘭</span></div>
                    </div>
                </div>
                <div class="tag-area">
                    <span class="tag">巧克力</span>
                    <span class="tag">栗子</span>
                    <span class="tag">奶油</span>
                </div>
            </div>

            <div class="product-box">
                <img src="/images/image/test.jpg">
                <div class="product-title">香蕉栗子磅蛋糕</div>
                <div class="product-text">
                    <div>
                        <div>價格:<span class="cost">120</span></div>
                        <div>庫存:<span class="much">30</span></div>
                    </div>
                    <div>
                        <div>商家:<span class="store">磅取sir</span></div>
                        <div>地區:<span class="where">宜蘭</span></div>
                    </div>
                </div>
                <div class="tag-area">
                    <span class="tag">巧克力</span>
                    <span class="tag">栗子</span>
                    <span class="tag">奶油</span>
                </div>
            </div>

            <div class="product-box">
                <img src="/images/image/test.jpg">
                <div class="product-title">香蕉栗子磅蛋糕</div>
                <div class="product-text">
                    <div>
                        <div>價格:<span class="cost">120</span></div>
                        <div>庫存:<span class="much">30</span></div>
                    </div>
                    <div>
                        <div>商家:<span class="store">磅取sir</span></div>
                        <div>地區:<span class="where">宜蘭</span></div>
                    </div>
                </div>
                <div class="tag-area">
                    <span class="tag">巧克力1231316262662223</span>
                    <span class="tag">栗子</span>
                    <span class="tag">奶油</span>
                </div>
            </div>
        </div>

        
    </div>
</div>


{% endblock content %}