{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/CSS/negotiate.css">
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
{% endblock head %}
{% block content %}
<div class="header-flex"><span><img src="/images/icons/biscuit.png">訂單內容商議</span></div>
<div class="trade-area-flex">
    <div class="order-info-area">
        <img class="order-img">
        <div class="order-info">
            <div class="order-text">
                <div>產品名稱：《<span class="product-name"></span>》</div>
                <div>&emsp;&emsp;數量：<span class="product-amount"></span>份</div>
                <div>&emsp;總價格：NT$&ensp;<span class="product-price"></span></div>
                <div>預期地點：<span class="product-site"></span></div>
            </div>
        </div>
    </div>

    <div class="order-check-area">
        <div class="check-area">
            <!-- <div>產品名稱：<input type="text" class="name-check" roomId="1"><span class="check-btn" id="check-btn" index="name" onclick="accept(this);"></span></div> -->
            <div>&emsp;&emsp;數量：<input type="text" class="amount-check"><span class="amount-btn" id="check-btn"
                    index="amount" onclick="accept(this);"></span></div>
            <div>&emsp;&emsp;價格：<input type="text" class="price-check"><span class="price-btn" id="check-btn"
                    index="price" onclick="accept(this);"></span></div>
            <div>面交地點：<input type="text" class="site-check"><span class="site-btn" id="check-btn" index="site"
                    onclick="accept(this);"></span></div>
            <div>面交時間：<input type="text" class="time-check"><span class="time-btn" id="check-btn" index="time"
                    onclick="accept(this);"></span></div>
        </div>
    </div>

    <div class="member-talk-area">
        <div class="self-video-box"></div>
        <div class="message-box">
            <!-- <div>141414141414<span>2023/01/13 9:30</span></div> -->
        </div>
        <div class="other-video-box"></div>
        <div class="input-message">
            <!-- <img src="/images/icons/live-news.png"  class="stopStream-icon"> -->
            <img src="/images/icons/live-news.png" onclick="startStream();" class="stream-icon">
            <input type="text" placeholder="請輸入訊息" class="input-message-box">
            <div class="send-messagge" onclick="sendMessage(user);">送出</div>
        </div>
    </div>

    <div class="btn-area">
        <div class="delete-btn" onclick="delete_pre_order();">取消交易</div>
        <div class="wait-btn" onclick="GoBack();">暫緩交易</div>
        <div class="order-btn" style="display: none;" ><span class="order-btn-text">確認本次交易</span></div>
    </div>
    <!-- onclick="orderOK();" -->
</div>
<script src="/JS/auth.js"></script>
<script src="/JS/negotiate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

{% endblock content %}