{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/CSS/product.css">
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="header-flex"><span>產品頁</span></div>
<div class="product-area-flex">
    <div class="product-area-left">
        <div class="product-main">
            <div class="product-title"></div>
            <div class="product-tag-area"></div>
            <hr>
            <div class="product-text"></div>
        </div>
        <hr>
        <div class="photo-area">
            <div class="photo-title">張照片</div>
            <hr>
            <div class="photo">
                <!-- <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg"> -->
            </div>
        </div>
    </div>

    <div class="product-area-right">
        <div class="order-area">
            <div class="order-id"></div>
            <div class="order-cost"></div>
            <div class="order-text">數量</div>
            <select class="amount-select">
            </select>
            <textarea class="order-message" placeholder="想與賣家說的話"></textarea>
            <div class="order-text">賣家期望面交地點</div>
            <div class="order-target"></div>
            <div class="order-btn" onclick="orderProduct(order_info);">確認拍拍</div>
        </div>

        <div class="store-owner">
            <div class="owner-title">賣家資訊</div>
            <div class="owner-photo-name">
                <img class="owner-image">
                <span class="owner-name"></span>
            </div>
            <!-- <div class="owner-info">
                <span class="follow">
                    <div>追蹤人數</div>
                    <div class="num-info">5</div>
                </span>
                <span class="amount">
                    <div>產品數量</div>
                    <div class="num-info">6</div>
                </span>
                <span class="sold">
                    <div>已交易</div>
                    <div class="num-info">7</div>
                </span>
            </div> -->
            <!-- <div class="subject-store">關注賣家</div> -->
        </div>
    </div>
</div>
<script src="/JS/auth.js"></script>
<script src="/JS/product.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
{% endblock content %}