{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/CSS/product.css">
{% endblock head %}

{% block content %}
<div class="product-area-flex">
    <div class="product-area-left">
        <div class="product-main">
            <div class="product-title">香蕉栗子磅蛋糕</div>
            <div class="product-tag-area">
                <span>香蕉</span>
                <span>大香蕉</span>
                <span>奶油</span>
            </div>
            <hr>
            <div class="product-text">自家製的香蕉栗子磅蛋糕是一個絕妙的點心，糅合了新鮮香蕉和滑順的栗子風味，帶來一種令人陶醉的甜點體驗。這款磅蛋糕柔軟濕潤，口感豐富，讓你一口接一口，難以抗拒。

                濃郁的香蕉風味：這款香蕉栗子磅蛋糕以新鮮、成熟的香蕉為基礎，為蛋糕注入了濃郁的香蕉風味。香蕉的自然甜味和香氣充分展現，為磅蛋糕提供了天然的甜味。

                栗子的絲滑質地：栗子是這款磅蛋糕的秘密武器，為其增添了絲滑、堅果般的質地。栗子的深層風味與香蕉的柔滑結合，營造出獨特的口感。
            </div>
        </div>
        <hr>
        <div class="photo-area">
            <div class="photo-title">6張照片</div>
            <hr>
            <div class="photo">
                <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg">
                <img src="/images/image/test.jpg">
            </div>
        </div>
    </div>

    <div class="product-area-right">
        <div class="order-area">
            <div class="order-id">香蕉栗子磅蛋糕</div>
            <div class="order-cost">NT$ 120/份</div>
            <div class="order-text">數量</div>
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <textarea class="order-message" placeholder="想與賣家說的話"></textarea>
            <div class="order-text">賣家期望面交地點</div>
            <div class="order-target">台北市文山區興隆路三段112巷2弄27號(麻古)</div>
            <div class="order-btn">確認拍拍</div>
        </div>

        <div class="store-owner">
            <div class="owner-title">賣家資訊</div>
            <div class="owner-photo-name">
                <img src="/images/image/test2.png">
                <span class="owner-name">磅取sir</span>
            </div>
            <div class="owner-info">
                <span class="follow">
                    <div>追蹤人數</div>
                    <div class="num-info">5</div>
                </span>
                <span class="amount">
                    <div>產品數量</div>
                    <div class="num-info">6</div>
                </span>
                <span class="sold">
                    <div>已交易</div>
                    <div class="num-info">7</div>
                </span>
            </div>
            <div class="subject-store">關注賣家</div>
        </div>
    </div>
</div>
{% endblock content %}