{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/CSS/self_page.css">
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
{% endblock head %}
{% block content %}

<div class="changeImg-flex" style="display: none;">
    <div class="changeImg-box">
        <img src="/images/image/CAT.gif" class="loading" style="display: none;">
        <div class="changeImg-info">
            <img src="/images/icons/close.png" onclick="delBox();">
            <div class="changeImg-info-title">更改大頭貼</div>
            <input type="file" class="imgFile">
            <div class="GoChange" onclick="changeImg();">確認更改</div>
        </div>
    </div>
</div>

<div class="changeName-flex" style="display: none;">
    <div class="changeImg-box">
        <img src="/images/image/CAT.gif" class="loading2" style="display: none;">
        <div class="changeImg-info">
            <img src="/images/icons/close.png" onclick="delNameBox();">
            <div class="changeImg-info-title">更改商家名稱</div>
            <input type="text" placeholder="新名稱" class="newName">
            <div class="GoChange" onclick="GoChangeName();">確認更改</div>
        </div>
    </div>
</div>

<div class="changeTag-flex" style="display: none;">
    <div class="changeImg-box">
        <img src="/images/image/CAT.gif" class="loading" style="display: none;">
        <div class="changeImg-info">
            <img src="/images/icons/close.png" onclick="delTagBox();">
            <div class="changeImg-info-title">更改商家tag</div>
            
            <textarea class="teg-info-change" style="width: 250px;"></textarea>
            <div>0~12個字</div>
            <div class="GoChange">確認更改</div>
        </div>
    </div>
</div>

<div class="changeSelf-flex" style="display: none;">
    <div class="changeImg-box">
        <img src="/images/image/CAT.gif" class="loading" style="display: none;">
        <div class="changeImg-info">
            <img src="/images/icons/close.png" onclick="delSelf();">
            <div class="changeImg-info-title">更改商家自介</div>
            
            <textarea class="teg-info-change" style="width: 250px;"></textarea>
            <div class="GoChange">確認更改</div>
        </div>
    </div>
</div>


<div class="header-flex"><span>個人資訊</span></div>
<div class="box-flex">
    <div class="member-info-box">
        <div class="frame-1">
            <div class="member-info">
                <img class="member-img">
                <div class="member-info-text">
                    <div class="member-name" onclick="changeName();"></div>
                    <div class="member-tags" onclick="changeTagBlock();"></div>
                </div>
            </div>
            <div class="auth-icon"><img class="icon"><div class="auth-text"></div></div>

        </div>
        <div class="frame-2">
            <div class="title-text">商家自介</div>
            <div class="member-self" onclick="changeSelfBlock();"></div>
        </div>
    </div>

    <h2 class="text">擁有的商品</h2>
</div>
<div class="main-area">
    <div class="area-box">
        <img src="/images/image/CAT.gif" class="cat-load">
        <div class="product-flex">
        </div>
    </div>
</div>


<script src="/JS/auth.js"></script>
<script src="/JS/self_page.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

{% endblock content %}