{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/CSS/trade.css">
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
{% endblock head %}
{% block content %}
<div class="trade-area-flex">
    <div class="order-info-area">
        <img class="order-img">
        <div class="order-info">
            <div class="order-text">
                <div>產品名稱：《<span class="product-name"></span>》</div>
                <div>&emsp;&emsp;數量：<span class="product-amount"></span>份</div>
                <div>&emsp;總價格：NT$&ensp;<span class="product-price"></span></div>
                <div>預期地點：<span class="product-site"></span></div>
            </div>
        </div>
    </div>

    <div class="order-check-area">
        <div class="check-area">
            <div>產品名稱：<input type="text" class="name-check" roomId="1"><span class="check-btn">更改</span></div>
            <div>&emsp;&emsp;數量：<input type="text" class="amount-check" roomId="2"><span class="check-btn">更改</span></div>
            <div>&emsp;&emsp;價格：<input type="text" class="price-check" roomId="3"><span class="check-btn">更改</span></div>
            <div>面交地點：<input type="text" class="site-check" roomId="4"><span class="check-btn">更改</span></div>
            <div>面交時間：<input type="text" class="time-check" roomId="5"><span class="check-btn">更改</span></div>
        </div>
    </div>

    <div class="member-talk-area">
        <div class="message-box">
            <!-- <div>141414141414<span>2023/01/13 9:30</span></div> -->
            
        </div>
        <div class="input-message"><input type="text" placeholder="請輸入訊息" class="input-message-box"><div class="send-messagge" onclick="sendMessage(user);">送出</div></div>
        
    </div>
    <div class="btn-area">
        <div class="delete-btn">取消交易</div>
        <div class="wait-btn">暫緩交易</div>
        <div class="order-btn">確認本次交易</div>
    </div>

</div>
<script src="/JS/auth.js"></script>
<script src="/JS/trade.js"></script>

{% endblock content %}